.App {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #b7bad0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-centered {
    width: 90%;
    margin: auto;
    background-color: #fcf4f2;
    -webkit-box-shadow: -1px 7px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 7px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 7px 23px 0px rgba(0, 0, 0, 0.75);
}